#page-watched-movies {
  height: 100vh;
}

#page-watched-movies .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 30px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#page-watched-movies header {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-watched-movies header a img {
  width: 200px;
}

#page-watched-movies header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-watched-movies header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-watched-movies .list-movies {
  margin: 80px auto;
  padding: 64px;
  max-width: 1200px;
  background: #302f2f;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#page-watched-movies .list-movies .grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 26px;
  list-style: none;
}

#page-watched-movies .list-movies .grid-list li {
  background: #1a1a1a;
  border-radius: 8px;
  margin-top: 64px;
  padding: 32px 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 200px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  color: var(--title-color);
}

.card-description {
  margin-top: 10px;
}

.card-info {
  text-align: center;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  max-height: 50px;
  min-width: 150px;
  padding: 5px 0;
}

.card-buttons2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-buttons2 svg {
  cursor: pointer;
}
